.App {
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #FFFFFF;
    text-align: center;
    font-family: Arial;
}

.App-text {
    max-width: 100%;
    min-height: calc(100vh - 160px);
    top: -80px;
    text-align: center;
    color: #1E0005;
}

.App-text_item {
    padding: 30px;
}

.App-link {
    color: #7EA650;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
}

.App-button {
    padding: 5px;
    background-color: #36572A;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
}