.App {
    min-height: 100vh;
    width: 100%;

    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #E2C3C8;
    text-align: center;
}

.App-text {
    max-width: 100%;
    min-height: calc(100vh - 160px);
    top: -80px;
    text-align: center;
    color: #1E0005;
}
/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

.App-link {
    color: #36572A;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
