.budget {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.budget-coins {
    display: flex;
    flex-direction: column;
}

.budget-coins_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.budget-form_wrapper {
    display: flex;
    height: 50%;
}
.budget-form {
    width: 90%;
    height: 100%;
    justify-content: center;
}
